* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(UCSCEASTCAMPUSPicture.jpg);
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 100px;
}

nav h1 {
  padding-left: 2%;
  font-size: 36px;
  text-decoration: none;
}

nav h1 a {
  text-decoration: none;
  color: #fff;
}

nav h1 a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffc300;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav h1 a:hover::after {
  width: 100%;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffc300;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
}

.button-container {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-btn button {
  /* See */
  flex: 1;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 102px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn button a img {
  display: grid;
  width: 100px;
}

.hero-btn button:hover {
  border: 1px solid #e9c46a;
  background: #e9c46a;
  color: #000814;
  transition: 1s;
}

@media(max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
}

/*
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #001d3d;
}

footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #001d3d;
  padding: 60px 10%;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
}

.footer-col h4 {
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: white;
  text-transform: capitalize;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #000814;
  height: 2px;
  width: 80px;
}

ul li:not(:last-child) {
  margin-bottom: 8px;
}

ul li a {
  display: block;
  font-size: 19px;
  text-transform: capitalize;
  color: #ffd60a;
  text-decoration: none;
  transition: 0.4s;
}

ul li a:hover {
  color: #ffc300;
  padding-left: 2px;
}

.links a {
  display: inline-block;
  height: 44px;
  width: 44px;
  color: #ffd60a;
  background-color: #000814;
  margin: 0 8px 8 px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

.links a:hover {
  color: #ffc300;
  background-color: #000814;
}

@media(max-width: 740px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer-col h4::before {
    all: unset;
  }
}

@media(max-width: 555px) {
  .footer-col {
    width: 100%;
  }
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('ex_background.jpg');
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 100%;
  background: #ffc300;
  position: relative;
  left: 0;
  bottom: 0;
}
*/